body{
  margin: 0;
  padding: 0;
  direction: rtl;
  background: rgb(123, 107, 200);
  background: linear-gradient(90deg , rgb(123, 107, 200) 23%, rgb(0, 212, 255) 100%);
  font-family: tahoma;
  color: #FFF;
}
.cc {
  max-width: 85em;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 0.5em;
  position: relative;
  box-sizing: border-box;
}
h1 {
  text-align: center;
  line-height: 3em;
}
.box {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  border: 1px solid #FFF;
  border-radius: 20px 20px 20px 20px;
  padding: 3em;
}
button {
  background: #03aee3;
  border: 1px solid #FFF;
  color: #FFF;
  padding: 1em 2em;
  border-radius: 10px;
  font-size: 1em;
  transition: all 0.5s ease-in-out;
}
button:hover {
  color: #03aee3;
  background: #FFF;
}
#time {
  margin-bottom: 1em;
  font-size: 2em;
}